<main class="container main-content-height">
	<div class="error">
		<img
			class="error_img"
			*ngIf="errorPageConfig?.error !== 0"
			[src]="errorPageConfig?.image"
			[alt]="errorPageConfig?.error" />
		<div class="error_underline" *ngIf="errorPageConfig?.error !== 0"></div>
		<div class="error__description">
			<img
				class="error__description_icon"
				[src]="errorPageConfig?.icon"
				alt="cracked glass" />
			<div class="error__description__text">
				<span class="error__description__text_title">{{
					errorPageConfig?.title
				}}</span>
				<span class="error__description__text_message">{{
					errorPageConfig?.message
				}}</span>
			</div>
		</div>
		<button class="error_navigation" (click)="navigateToLogin()">
			Go to login
		</button>
	</div>
</main>
